{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="text-center">Characters</h1>
            <hr>
            <div class="d-flex justify-content-center">
                <form class="form-inline" method="post">
                    {{ form.hidden_tag() }}
                    {% for field in form if field.widget.input_type != 'hidden' %}
                        <span class="mr-2">{{ field.label }}</span>
                        {{ field }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <table id="characters_table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">height</th>
                    <th scope="col">mass</th>
                    <th scope="col">hair_color</th>
                    <th scope="col">skin_color</th>
                    <th scope="col">eye_color</th>
                    <th scope="col">birth_year</th>
                    <th scope="col">gender</th>
                    <th scope="col">homeworld</th>
                </tr>
                </thead>
                <tbody>

                {% for character in characters %}
                    <tr>
                        <td>{{ character.name }}</td>
                        <td>{{ character.height }}</td>
                        <td>{{ character.mass }}</td>
                        <td>{{ character.hair_color }}</td>
                        <td>{{ character.skin_color }}</td>
                        <td>{{ character.eye_color }}</td>
                        <td>{{ character.birth_year }}</td>
                        <td>{{ character.gender }}</td>
                        <td>{{ character.homeworld }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                {{ pagination.links }}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $("#previous").attr("href", "{{ characters.previous }}");
        $("#next").attr("href", "{{ characters.next }}");
    </script>
{% endblock %}