{% extends 'base.html' %}

{% block content %}
    <section class="text-center">
        <h1 class="jumbotron-heading text-primary">SenseData Challenge</h1>
        <p class="lead text-muted">This is a challenge for SenseData's full-stack python developer.</p>
    </section>
{% endblock %}