{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="text-center">Starships</h1>
            <hr>
            <table id="characters_table" class="table table-responsive table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">model</th>
                    <th scope="col">score</th>
                    <th scope="col">MGLT</th>
                    <th scope="col">cargo_capacity</th>
                    <th scope="col">consumables</th>
                    <th scope="col">cost_in_credits</th>
                    <th scope="col">crew</th>
                    <th scope="col">hyperdrive_rating</th>
                    <th scope="col">length</th>
                    <th scope="col">manufacturer</th>
                    <th scope="col">max_atmosphering_speed</th>
                    <th scope="col">passengers</th>
                    <th scope="col">starship_class</th>
                </tr>
                </thead>
                <tbody>

                {% for starship in starships %}
                    <tr>
                        <td>{{ starship.name }}</td>
                        <td>{{ starship.model }}</td>
                        <td>{{ starship.score }}</td>
                        <td>{{ starship.MGLT }}</td>
                        <td>{{ starship.cargo_capacity }}</td>
                        <td>{{ starship.consumables }}</td>
                        <td>{{ starship.cost_in_credits }}</td>
                        <td>{{ starship.crew }}</td>
                        <td>{{ starship.hyperdrive_rating }}</td>
                        <td>{{ starship.length }}</td>
                        <td>{{ starship.manufacturer }}</td>
                        <td>{{ starship.max_atmosphering_speed }}</td>
                        <td>{{ starship.passengers }}</td>
                        <td>{{ starship.starship_class }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $("#previous").attr("href", "{{ starships.previous }}");
        $("#next").attr("href", "{{ starships.next }}");
    </script>
{% endblock %}